<p>home works!</p>
<h1>TOURNAMENT PUBG MOBILE</h1>
<h4>Di tahun 2021, ada banyak turnamen PUBG Mobile tingkat nasional hingga internasional. 
    Sebagai pemain setia dan penggemar PUBG Mobile, momen turnamen tentu jadi yang ditunggu-tunggu, 
    untuk melihat keseruan pertarungan para pro player.Apalagi jika memiliki pro player atau tim unggulan,
    menonton turnamen bakal semakin seru. Lalu sudahkah kamu mengetahui apa saja turnamen yang bakal
    diselenggarakan sepanjang tahun 2021 ini? Biar gak ketinggalan, berikut rangkumannya.
    PMGC (PUBG Mobile Global Championship) Season 0
    PMGC Season 0 menjadi event final PUBG Mobile di tahun 2021, namun turnamen ini diselenggarakan pada awal tahun 2021. Dua puluh empat tim dari seluruh dunia diundang untuk memperebutkan gelar juara.

        <h4>Jadwal: 21-26 Januari 2021
        Pemenang: Nova Esports
        Prize pool: $1,200,000 (Rp17,3 miliar)
        PMCO (PUBG Mobile Club Open) Spring Split 2021: Indonesia
        PUBG Mobile Club Open jadi tempatnya tim-tim semi-pro buat step up ke level profesional. Kompetisi ini diadakan di berbagai regional di dunia, dengan pesertanya terkualifikasi lewat turnamen lokal atau mendapat direct invite.

        Jadwal: 17-21 Februari 2021
        Pemenang: Genesis Dogma GIDS
        Prize pool: $30.000 (Rp433 juta)
        PEL (Peacekeeper Elite League) 2021 Season 1
        PEL adalah liga resmi profesional di Tiongkok untuk game Peacekeeper Elite, yaitu versi China dari PUBG Mobile.

        Jadwal: 11 Maret – 18 April 2021
        Pemenang: Team Weibo
        Prize pool: $2.024.260 (Rp29,2 miliar)</h4>
</h4>